@import '../variables';
form{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  gap: 1rem;
  input{
    padding: 1rem;
    font-family: $font-family;
    background-color: transparent;
    border-radius: 2rem;
    color: #ffffff;


  }
  button{
    font-size: 1.8rem;
    padding: 1rem;
    border-radius: 5rem;
  }
}
