@media (max-width: 767px){
    .i{
        margin-top: 2rem;
    }
    
    .i1{
        background-color: #363636;
        height: 15rem;
        padding: 10px;
        margin-top: 4rem;
        border-radius: 1.5rem;
        color: rgb(214, 176, 37);
    }
    .i2{
        background-color: #363636; 
        height: 15rem; 
        width: 75%;
        padding: 10px; 
        margin-top: 3rem; 
        border-radius: 1.5rem;
        color: rgb(169, 6, 6);
    }

    .idown{
        display: flex;
        justify-content: space-between;
    }

    .i3{
        background-color: #363636;
        height: 15rem; 
        width: 50%;
        padding: 10px; 
        margin-top: 3rem; 
        margin-right: 1rem;
        border-radius: 1.5rem;
        color: white; 
    }

    .i4{
        background-color: #363636;
        height: 15rem; 
        width: 50%;
        padding: 10px; 
        margin-top: 3rem; 
        margin-left: 1rem;
        border-radius: 1.5rem;
        color: white; 
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .i1 {
        background-color: #363636;
        height: 20rem; 
        width: 200%;
        padding: 20px; 
        margin-top: 5rem; 
        border-radius: 1.5rem; 
        color: rgb(214, 176, 37);
    }
    .i2 {
        background-color: #363636;
        height: 20rem; 
        width: 100%;
        padding: 20px; 
        margin-top: 5rem; 
        border-radius: 1.5rem; 
        color: rgb(169, 6, 6);
    }
    .i3 {
        background-color: #363636;
        height: 10rem; 
        width: 100%;
        padding: 20px; 
        margin-top: 5rem; 
        border-radius: 1.5rem;
        color: white; 
    }
}
@media (min-width: 1024px){
    .i1 {
        background-color: #363636;
        height: 20rem; 
        width: 200%;
        padding: 20px; 
        margin-top: 5rem; 
        border-radius: 1.5rem; 
        color: rgb(214, 176, 37);
    }
    .i2 {
        background-color: #363636;
        height: 20rem; 
        width: 100%;
        padding: 20px; 
        margin-top: 5rem; 
        border-radius: 1.5rem; 
        color: rgb(169, 6, 6);
    }
    .i3 {
        background-color: #363636;
        height: 10rem; 
        width: 100%;
        padding: 20px; 
        margin-top: 5rem; 
        border-radius: 1.5rem;
        color: white; 
    }
}